/* body{
    background-color:white;
    max-width:100%;
}
header{
    display:block;
    min-width:100px;
    height:auto;
    text-align:center;
}
header>span{
    padding-left:129px;
}
header>img{
    margin-right:90%;
    display:inline;
    width:50px;
    height:50px;
    border-radius:2px;
}
header>div{
    padding-right:100px;
    display:block;
    float:right;
    border-radius:20px;
}
header>div>a{
    margin:10px;
    text-decoration:none;
    color:black;
}
nav{
    width:fill;
    height:25px;
    text-align:center;
    font-family:sans-serif;
    align-items:center;
    background-color:lightgoldenrodyellow;
}
nav>a{
    padding-top:10px;
    text-decoration:none;
    padding-left:20px;
    width:fit-content;
    height:auto;
    padding-right:20px;
    color:salmon;
}
section{
    width:fill;
    height:auto;
}
section>.wifms{
    width:50%;
    max-height:200px;
    overflow:inherit;
    background:floralwhite;
    float:left;
    display:inline;
    overflow:scroll;
}
section>.tns{
    width:30%;
    max-height:300px;
    height:auto;
    float:left;
    display:inline;
    overflow:scroll;
}
section>aside{
    width:20%;
    height:fill;
    float:right;

}

.dropdown {
    position: relative;
    display: inline-block;
  }
.dropbtn{
    width:100px;
    height:auto;
    background:lightgreen;
    border-radius:40px;
}
 
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
  }


  .dropdown-content a {
    color: white;
    background:rgba(98, 255, 0, 0.386);
    padding: 12px 16px;
    text-decoration: none;
    border-radius:-20px -20px 20px 20px;
    display: block;
  }

 
  .dropdown-content a:hover {
    background-color: green;
    color:white;
    border-radius:-20px -20px 20px 20px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @import url('libraryfiles\css\bootstrap.css'); */
  ul{
    list-style:none;
  }
  li>a{
    text-decoration:none;
    color:black;
  }

  .dropdwon>button{
    width:60px;
    height:60px;
    border-radius:100%;
  }
  #user{
    background-color:lightgreen;
    color:wheat;
    border-radius:100%;
    width:50px;
    height:50px;
  }